
.vs/Homework/v17/.wsuo
.vs/VSWorkspaceState.json
HW1/.vs/HW1/FileContentIndex/7278ce25-cb80-4365-84e7-82dbc124e198.vsidx
HW1/.vs/HW1/FileContentIndex/read.lock
HW1/.vs/HW1/v17/.wsuo
HW1/.vs/ProjectSettings.json
HW1/.vs/slnx.sqlite
HW1/.vs/VSWorkspaceState.json
